.ofertas{
    text-align: center;
}

.tabla_ofertas{
    margin: auto;
    padding-top: 50px;
}

.cajon_ofertas{
    float: left;
    margin-top: 20px;
    border: 1px solid #85c34a;
    background: #30353c;
}

.cajon_ofertas-serie{
    float: left;
    margin-top: 20px;
    border: 1px solid #ffc107;
    background: #3c3030;
}

.cajon_ofertas_especial{
    float: left;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .9);
    z-index: 500;
}

.cajon_ofertas_especial h4{
    color: #30353c;
    font-size: 30px;
}

.header-oferta_especial{
    color: #85c34a;
padding-top: 20px;
padding-bottom: 10px;
    font-size: 4em;;
}

.header-oferta{
color: #85c34a;
padding-top: 20px;
font-size: 3em;
padding-bottom: 10px;
}

.header-oferta-serie{
    color: #ffc107;
    padding-top: 20px;
    font-size: 3em;
    padding-bottom: 10px;
    }

.cajon_ofertas h4, .cajon_ofertas-serie h4{
    color: #fff;
}

.precio_oferta{
    color:#85c34a;
    font-size: 50px;
    font-weight: bold;
}

.precio_oferta-serie{
    color:#ffc107;
    font-size: 50px;
    font-weight: bold;
}

.dolar{
    font-size: 20px;
    vertical-align: text-bottom;
}

.por_solo{
    font-size: 20px;
    color: #999;
    vertical-align: super;
}

.mensuales{
    font-size: 20px;
    color: antiquewhite;
    vertical-align: super;
}

.lista_combo{
    padding: 20px 0;
    color: #81867D;
    padding-bottom: 50px;
}

.lista_servicios{
    padding: 20px 0;
    color: #424953;
    padding-bottom: 50px;
}

.objetos_combo{
    padding: 0.25em;
    font-size: 20px;
}

.caja_boton_comprar{
    margin-bottom: 25px;
}

.boton_comprar{
    background: #85c34a;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_serie{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_serie span{
    color: #3c3030;
}

.boton_comprar_especial{
    background: #30353c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_especial:hover{
    background: #777;
}

.cajon_suscripciones{
    border: 1px solid #30353c;
}

.header-suscripcion{
    color: #30353c;
    padding-top: 20px;
    font-size: 3em;
    padding-bottom: 10px;
}

.precio-suscripcion{
    color:#30353c;
    font-size: 50px;
    font-weight: bold;
}

.grin-stars{
    color:#30353c;
    box-shadow: 0 0 8px rgba(0, 0, 0, .9);
}

.plan_bronce{
    background: #cd7f32;
    box-shadow: 0 0 8px rgba(141, 90, 23, 0.9);
}

.boton_comprar_bronce{
    background: #30353c;
    color: #cd7f32;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_bronce span{
    color: #cd7f32;
}

.plan_plata{
    background: silver;
    box-shadow: 0 0 8px rgba(179, 171, 171, 0.9);
}

.boton_comprar_plata{
    background: #30353c;
    color: silver;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_plata span{
    color: silver;
}

.plan_oro{
    background: gold;
    box-shadow: 0 0 8px rgba(187, 170, 18, 0.9);
}

.boton_comprar_oro{
    background: #30353c;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_oro span{
    color: gold;
}

.plan_platino{
    background: #7f7679;
    box-shadow: 0 0 8px rgba(150, 130, 130, 0.9);
}

.boton_comprar_platino{
    background: #30353c;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_platino span{
    color: #7f7679;
}

.plan_diamante{
    background: #C8E5EB;
    box-shadow: 0 0 8px rgba(36, 135, 148, 0.9);
}

.boton_comprar_diamante{
    background: #30353c;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}

.boton_comprar_diamante span{
    color: #C8E5EB;
}