.redes{
    position: fixed;
    top: 200px;
    z-index: 100;
}

.redes_cuadro{
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: 55px;
    transition: all .4s ease;
}

.facebook {
    background: #3b5998;
}

.twitter {
    background: #55acee;   
}

.instagram {
    background: #125688;  
}

.youtube{
    background: #bb0000;
}

.correo {
    background: #e95950;  
}

.redes_hover:hover{
    background: #000;
    padding: 10px 50px;
}

