body{
    background-color: #30353c;
}

.caja{
    float: left;
    height: 70px;
    box-sizing: border-box;
}

.circuo_logo{
    margin-top: 70px;
    margin-right: 19%;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 120px;
    height: 120px;
    float: left;
    z-index: 100;
}

.icono_registro{
    margin-top: 26px;
    margin-right: 15px;
    float: right;
    display: flex;
    color: #30353c;
    font-size: 4em;
    z-index: 100;
}

.seccion_contenido{
    margin-top: 15px;
}

.tabla_registro{
    padding-top: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .9);
}

.caja_boton_enviar{
    margin-bottom: 25px;
}

.boton_enviar{
    background: #30353c;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 100%;
}

.boton_enviar span{
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px){
    .circuo_logo{
        margin-right: 16.5%;
    }
}

@media (max-width: 767px){
    .circuo_logo{
        display: none;
    }
}


